<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <!-- Repos -->
    <!-- Services -->

    <!-- Plugins -->
    <type name="Magento\CatalogInventory\Ui\DataProvider\Product\AddQuantityFieldToCollection">
        <plugin name="prxgt_wrhs_plugin"
                type="Praxigento\Warehouse\Plugin\CatalogInventory\Ui\DataProvider\Product\AddQuantityFieldToCollection"
                sortOrder="100"
                disabled="false"/>
    </type>
    <type name="Magento\CatalogInventory\Ui\DataProvider\Product\AddQuantityFilterToCollection">
        <plugin name="prxgt_wrhs_plugin"
                type="Praxigento\Warehouse\Plugin\CatalogInventory\Ui\DataProvider\Product\AddQuantityFilterToCollection"
                sortOrder="100"
                disabled="false"/>
    </type>

    <!-- API Services -->
    <preference for="Praxigento\Warehouse\Api\LotInterface"
                type="Praxigento\Warehouse\Api\Def\Lot"/>
    <preference for="Praxigento\Warehouse\Api\WarehouseInterface"
                type="Praxigento\Warehouse\Api\Def\Warehouse"/>

    <!-- API Data -->
    <preference for="Praxigento\Warehouse\Api\Data\IWarehouse"
                type="Praxigento\Warehouse\Api\Data\Def\Warehouse"/>
</config>
