<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- API Services -->
    <preference for="Praxigento\Warehouse\Api\WarehouseInterface"
                type="Praxigento\Warehouse\Service\Warehouse\Call"/>
    <preference for="Praxigento\Warehouse\Service\Warehouse\Request\ICreate"
                type="Praxigento\Warehouse\Service\Warehouse\Request\Create"/>
    <preference for="Praxigento\Warehouse\Service\Warehouse\Response\ICreate"
                type="Praxigento\Warehouse\Service\Warehouse\Response\Create"/>
    <!-- Data / API -->
    <preference for="Praxigento\Warehouse\Data\Api\IWarehouse"
                type="\Praxigento\Warehouse\Data\Api\Def\Warehouse"/>

    <!-- Repos: Aggregates -->
    <preference for="Praxigento\Warehouse\Repo\Agg\ILot"
                type="Praxigento\Warehouse\Repo\Agg\Def\Lot"/>
    <preference for="Praxigento\Warehouse\Repo\Agg\IWarehouse"
                type="Praxigento\Warehouse\Repo\Agg\Def\Warehouse"/>

    <!-- Repos: Entities -->
    <preference for="Praxigento\Warehouse\Repo\Entity\ILot"
                type="\Praxigento\Warehouse\Repo\Entity\Def\Lot"/>
    <preference for="Praxigento\Warehouse\Repo\Entity\IQuantity"
                type="\Praxigento\Warehouse\Repo\Entity\Def\Quantity"/>
    <preference for="Praxigento\Warehouse\Repo\Entity\IWarehouse"
                type="\Praxigento\Warehouse\Repo\Entity\Def\Warehouse"/>
    <preference for="Praxigento\Warehouse\Repo\Entity\Stock\IItem"
                type="Praxigento\Warehouse\Repo\Entity\Stock\Def\Item"/>

    <!-- Services -->

    <!-- Plugins -->
    <type name="Magento\CatalogInventory\Api\Data\StockStatusCollectionInterfaceFactory">
        <plugin name="prxgt_wrhs_plugin"
                type="Praxigento\Warehouse\Plugin\CatalogInventory\Api\Data\StockStatusCollectionInterfaceFactory"
                sortOrder="100"
                disabled="false"/>
    </type>

    <type name="Magento\CatalogInventory\Ui\DataProvider\Product\AddQuantityFieldToCollection">
        <plugin
                name="prxgt_wrhs_plugin"
                type="Praxigento\Warehouse\Plugin\CatalogInventory\Ui\DataProvider\Product\AddQuantityFieldToCollection"
                sortOrder="100"
                disabled="false"/>
    </type>

    <!--<type name="Magento\CatalogInventory\Ui\DataProvider\Product\AddQuantityFilterToCollection">-->
    <!--<plugin name="prxgt_wrhs_plugin"-->
    <!--type="Praxigento\Warehouse\Plugin\CatalogInventory\Ui\DataProvider\Product\AddQuantityFilterToCollection"-->
    <!--sortOrder="100"-->
    <!--disabled="false"/>-->
    <!--</type>-->


</config>
