<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="checkout_submit_all_after">
        <!-- Split total items qty by lots and register it. -->
        <observer name="praxigento_warehouse_on_checkout_submit_all_after" instance="Praxigento\Warehouse\Observer\CheckoutSubmitAllAfter"/>
    </event>

</config>