<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="catalog_product_save_before">
        <!-- Don't save special price in DB. We use warehouse related special prices. -->
        <observer name="prxgt_wrhs_on_catalog_product_save_before"
                  instance="Praxigento\Warehouse\Observer\CatalogProductSaveBefore"/>
    </event>

    <event name="checkout_submit_all_after">
        <!-- Split total items qty by lots and register it. -->
        <!-- Remove placed quote from warehouse registry. -->
        <observer name="prxgt_wrhs_on_checkout_submit_all_after"
                  instance="Praxigento\Warehouse\Observer\CheckoutSubmitAllAfter"/>
    </event>

</config>