<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Praxigento_Warehouse::catalog_inventory"
             title="Inventory"
             module="Praxigento_Warehouse"
             sortOrder="60"
             parent="Magento_Catalog::inventory"
             action="catalog/inventory"
             resource="Praxigento_Warehouse::catalog_inventory"/>
        <add id="Praxigento_Warehouse::catalog_lots"
             title="Lots"
             module="Praxigento_Warehouse"
             sortOrder="70"
             parent="Magento_Catalog::inventory"
             action="catalog/lots"
             resource="Praxigento_Warehouse::catalog_lots"/>
        <add id="Praxigento_Warehouse::catalog_warehouses"
             title="Warehouses"
             module="Praxigento_Warehouse"
             sortOrder="80"
             parent="Magento_Catalog::inventory"
             action="catalog/warehouses"
             resource="Praxigento_Warehouse::catalog_warehouses"/>
        <add id="Praxigento_Warehouse::catalog_group_prices"
             title="Group Prices"
             module="Praxigento_Warehouse"
             sortOrder="90"
             parent="Magento_Catalog::inventory"
             action="catalog/group_prices"
             resource="Praxigento_Warehouse::catalog_group_prices"/>
    </menu>
</config>